.course_outside_block {
    width: 100%;
    background-color: white;
    border-radius: .25em;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
    min-height: 1000px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#course_info_title {
    width: 100%;
    font-size: 30px;
    color: #00478a;
    margin-bottom: 20px;
}

#add_course {
    margin-right: 20px;
}

#add_course_err {
    color: red;
    margin-left: 5px;
    margin-top: 5px;
}

#course_information {
    width: 100%;
    text-align: center;
    vertical-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #eeeeee;
    margin-bottom: 50px;
    margin-top: 50px;
    max-height: 800px;
    overflow: auto;
}

#course_information td {
    font-size: 14px;
    width: 10%;
    height: 30px;
    overflow: hidden;
    word-wrap: break-word;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding: 10px;
}

.delete_course_button {
    width: 80%;
    background-color: #00478a;
    border-color: #00478a;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 30px;
}

.update_course_button {
    margin-right: 5%;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-around;
    top: 5%;
    left: 35%;
    width: 30%;
    min-height: 50%;
    border-radius: 10px;
    background-color: white;
    z-index: 1002;
    padding: 30px;
}

.white_content input {
    width: 70%;
}

.white_content div {
    width: 30%;
}

.white_content button {
    width: 35%;
}

#add_course_submit_err {
    margin-top: 5px;
    color: red;
}

#course_tip {
    width: 100%;
    margin-bottom: 20px;
}

#add_course_block {
    top: 5%;
}